
.message{
    font-size: 18px;
    line-height: 24px;
    display: flex;
    
}
.messageAva{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    order: 2;
}
.messageAva img{
    
    height: 100%;
}
