.nav{
    grid-area: n;
    background-color: #0e1621;
    padding: 20px;
    font-size: 24px;
    line-height: 30px;
    border-right: 1px solid rgb(243,218,163);
}
.item a{
    color: white;
}
.item a:hover{
    text-decoration: underline;
}
.item a.active{
    color: white;
    font-weight: 700;
    text-shadow: 0px 0px 4px rgba(0, 255, 230, 1);
    text-decoration: none;
}